/* Підключення шрифтів */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins:wght@600&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.indent-between-sections {
  margin-top: 20rem;
}


.section-title {
  font-family: 'Poppins', sans-serif;
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.section-description {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
  line-height: 1.5;
  max-width: 95rem;
  margin-left: auto;
  margin-right: auto;
  color: #666;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 2rem;
}


/* Common to all sections */

.team-grid, .blog-grid {
  margin-top: 9.6rem;
  display: flex;
  gap: 3.6rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* Creative Team */

.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.team-member {
  background-color: #fff;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  flex: 1 1 0;
  border-radius: 10px;
}

.team-member {
  position: relative;
  overflow: hidden;
}

.team-member:hover .team-member-overlay {
  opacity: 0.9;
}

.team-member:hover .team-member-name {
  transform: translateY(50%);
}

.team-member:hover .team-member-socials {
  transform: translateY(0%) ;
}

.team-member-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 255, 150, 0.7), rgba(0, 170, 255, 0.7));
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 5;
}

.team-member-info {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transform: translate(5%);
  color: transparent;
  transition: opacity 0.3s ease;
  z-index: 10;
}


.team-member-name {
  transform: translateY(-150%);
  font-size: 3.6rem;
  transition: all 0.3s ease;
  z-index: 10;
}

.team-member-socials {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.4rem;
  transform: translateY(300%);
  transition: all 0.3s ease;
  z-index: 10;
}

.team-member-info ion-icon {
  font-size: 3rem;
}

.team-member:hover .team-member-info {
  color: #fff;
}


/* Latest Blogs */

.blog-post {
  background-color: #fff;
  flex: 1 1 30rem;
  max-width: 95rem;
  transition: all 0.3s ease;
}

.blog-post:hover {
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
  transform: translateY(-10%);
}

.blog-post img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}

.blog-post-title {
  font-size: 2.4rem;
  color: #2af598;
}

.blog-post-description {
  font-size: 3rem;
  font-weight: 700;
  color: #212121;
  transform: color 0.3s ease;
}

.blog-post-description:hover {
  color: #666;
  cursor: pointer;
}

.read-more {
  display: inline-block;
  text-decoration: underline;
  font-weight: 700;
  font-size: 2.4rem;
  margin-top: 1rem;
  color: #2af598;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.read-more:hover {
  color: #009efd;
}

/* background: #2A7B9B;
background: linear-gradient(269deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 225, 119, 1) 100%); */